<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketUrl" value="wss://socket.etherdelta.com/socket.io/?transport=websocket" />
    <add key="Provider" value="https://mainnet.infura.io/Ky03pelFIxoZdAUsr82w"/>
    <add key="AddressEtherDelta" value="0x8d12a197cb00d4747a1fe03395095ce2a5cc6819" />
    <add key="AbiFile" value="../contracts/etherdelta.json" />
    <add key="TokenFile" value="../contracts/token.json" />
    <add key="Token" value="0x8a7b7b9b2f7d0c63f66171721339705a6188a7d5" />
    <add key="User" value="0x51df0000000000000000000000052F2e7808Ee2b" />
    <add key="PrivateKey" value="1234567891234567891234567891234567891234567891234567891234567890" />
    <add key="UnitDecimals" value="18" />
  </appSettings>
</configuration>