<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketUrl" value="wss://socket.etherdelta.com/socket.io/?transport=websocket" />
    <add key="Provider" value="https://mainnet.infura.io/Ky03pelFIxoZdAUsr82w"/>
    <add key="AddressEtherDelta" value="0x8d12a197cb00d4747a1fe03395095ce2a5cc6819" />
    <add key="AbiFile" value="../contracts/etherdelta.json" />
    <add key="TokenFile" value="../contracts/token.json" />
    <add key="Token" value="0x8f3470a7388c05ee4e7af3d01d8c722b0ff52374" />
    <add key="User" value="0x1a96f3bc6cd0e9db43e89f983d4227ec5f707539" />
    <add key="PrivateKey" value="1234567891234567891234567891234567891234567891234567891234567890" />
    <add key="UnitDecimals" value="18" />
    <add key="GasPrice" value="1000000000" />
    <add key="GasLimit" value="250000" />
  </appSettings>
</configuration>