[DEFAULT]
# Example configuration file
# If you need details about the syntax, see https://docs.python.org/3/library/configparser.html

# Your Ethereum wallet's public key
# You can copy-paste it from your MetaMask browser extension

# this has a typo I guess but it still works because of the automatic validation?
# Fake address for demonstration:
user_wallet_public_key = 0x51df0000000000000000000000052F2e7808Ee2b

# Your Ethereum wallet's private key in 64-byte hex form
# This is only needed if you want the buy order to succeed.
# Example:
# user_wallet_private_key = 1234567891234567891234567891234567891234567891234567891234567890
user_wallet_private_key =

# The smart contract address of the token you want to trade
# On EtherDelta.com, click "Tokens" in the top-right hand corner,
# click the token you want to trade and copy-paste the 0x... address.
# Example: Smart Contract: 0x9742fa8cb51d294c8267ddfead8582e16f18e421
#
# These high-volume markets such as GRX and PPT do not seem to work with low gas prices such as 1Gwei.
# GRX:
#token_to_trade = 0x219218f117DC9348b358b8471c55A073E5e0dA0b
# PPT:
#token_to_trade = 0xd4fa1460F537bb9085d22C7bcCB5DD450Ef28e3a

# These low volume markets work with low gas prices such as 1Gwei:
# Aeternity:
#token_to_trade = 0x5ca9a71b1d01849c0a95490cc00559717fcf0d1d
# TenX
token_to_trade = 0xB97048628DB6B661D4C2aA833e95Dbe1A905B280
